.selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first_image {
  height:180px;
  flex-basis: 200px;
  flex-shrink:1;
  flex-grow:1;
  
  
}

.second_image {
  height:180px;
  flex-basis: 200px;
  flex-shrink:1;
  flex-grow:1;

}
